<div class="container-fluid">
<div class="row">   
    <div class="col-3 mt-1">   
        <app-menu-vertical 
                (menuEmisor) = "seleccionCategoria($event)"
                style="width: 100%;padding-top: 5px;">
        </app-menu-vertical>
    </div>
    <div class="col">   
        <div class="fila"> 
            <div class="columna-100" >   
                    <lista-productos 
                        [categoria] = "categoria"
                        (productoEmisor) = "seleccionProducto($event)"
                        style="width: 100%;padding-top: 5px;">
                    </lista-productos>
            </div>  
            <hr>
            <br>
            <div class="columna-100"> 
                    <productos-seleccionados [Productos]="producto" style="width: 100%;">
                            
                    </productos-seleccionados>
            </div>
        </div>
    </div>
</div>
</div>