<footer id="footer" class="page-footer font-small pt-4 navbar-dark bg-dark" style="display: block; margin-top: 20px;">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">Contenido</h5>
                <p>Agregar contenido al pie de página.</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a>Link 1</a>
                    </li>
                    <li>
                        <a>Link 2</a>
                    </li>
                    <li>
                        <a>Link 3</a>
                    </li>
                    <li>
                        <a>Link 4</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a>Link 1</a>
                    </li>
                    <li>
                        <a>Link 2</a>
                    </li>
                    <li>
                        <a>Link 3</a>
                    </li>
                    <li>
                        <a>Link 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <div class="footer-copyright text-center py-3"><small>Powered by ©FORCE</small>
    </div>
</footer>