<div class="row justify-content-cender">
<div class="list-group list-group-flush">
    <a routerLink="/user-login" class="list-group-item list-group-item-action" style="color: #222222;">
        <h2>Inicia Sesión</h2>
        <p>Ingresa a tu área de trabajo.</p>
    </a>
    <a routerLink="/user-register" class="list-group-item list-group-item-action" style="color: #222222;">
        <h2>Registrarse</h2>
        <p>Crea un nuevo usuario.</p>
    </a>
    <a routerLink="/user-recovery" class="list-group-item list-group-item-action" style="color: #222222;">
        <h2>¿Olvidaste tu contraseña?</h2>
        <p>Solicita a tu administrador de aplicación el reinicio de tu contraseña.</p>
    </a>
    <a class="list-group-item list-group-item-action" style="color: #222222;">
        <h2>Trabajo fuera de línea</h2>
        <p>Realiza funciones sin usuario pero recuerda que solo será una simulación.</p>
    </a>
</div>
</div>