<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="row justify-content-center mt-2">
      <form [formGroup]="formLogin" (ngSubmit)="Principal()" style="width: 400px;">
        <h2>Ingresa a tu área de trabajo</h2>
        <div class="form-group">
          <label for="usuario">Usuario</label>
          <input type="text" class="form-control" id="usuario" formControlName="usuario" placeholder="Ingresar Usuario">
          <div class="alert alert-danger" role="alert" style="display: none;">
            El campo <a class="alert-link">Usuario</a> es requerido.</div>
        </div>
        <div class="form-group">
          <label for="contraseña">Contraseña</label>
          <input type="password" class="form-control" id="contraseña" formControlName="contraseña"
            placeholder="Ingresar Contraseña">
          <small id="emailHelp" class="form-text text-muted">No comparta su contraseña con nadie.</small>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="recordarme" formControlName="recordarme">
          <label class="form-check-label" for="exampleCheck1">Recordarme</label>
        </div>
        <br>
        <div class="form-group">
          <button class="btn btn-primary btn-block" [disabled]="formLogin.invalid">Ingresar</button>
        </div>
      </form>
    </div>
    </div>
    <div class="col">
      <user-options></user-options>
    </div>
  </div>
</div>