<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h5 class="card-title">Categoría {{nombreCategoria}}</h5>
        </div>
        <div class="col-4 justify-content-end">
            <div class="btn-group btn-group-sm btn-block" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-light">Recientes</button>
                <button type="button" class="btn btn-light">Más usados</button>
                <button type="button" class="btn btn-light">Precio</button>
            </div>
        </div>
    </div>

    <div class="row">
        <app-producto *ngFor="let producto of productos" [productos]="producto"
            (productoEmisor)="SeleccionProducto($event)" class="bloque card mr-1 mb-1"></app-producto>
    </div>
    <br>
    <nav aria-label="Page navigation example " class="btn-sm">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true">Anterior</a>
            </li>
            <li class="page-item"><a class="page-link">1</a></li>
            <li class="page-item"><a class="page-link">2</a></li>
            <li class="page-item"><a class="page-link">3</a></li>
            <li class="page-item">
                <a class="page-link">Siguiente</a>
            </li>
        </ul>
    </nav>
</div>